<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>event handle</title>
    <style>
        .btn {
            width: 100px;
            height: 40px;
            font-size: 16px;
            color: #1c447a;
            text-align: center;
            padding: 12px 0;
            cursor: pointer;
            background-color: orange;
            box-sizing:border-box;
            margin-bottom: 10px;
        }
    </style>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="eventHandle">
        <!--事件对象 -->
        <div>
            <button @click="greet">event object</button>
        </div>
        <!--$event 参数传递顺序  结论： 可以更改顺序-->
        <div>
            <button @click="say('hello', $event)">say</button>
            <button @click="eat($event, 'banana')">eat</button>
        </div>
        <!--事件修饰符-->
        <div>
            <!--prevent -> event.preventDefault 阻止文本输入-->
            <input type="text" v-on:keypress.prevent="inputKeypress($event)">

            <!--stop -> event.stopPropagation 阻止冒泡和捕获-->
            <div @click="consoleNo()">
                <div @click="consoleYes()">
                    <div @click.stop="consoleHello()">
                        <span>阻止冒泡和捕获</span>
                        <div @click="consoleHi()"></div>
                    </div>
                    <div @click="consoleHello()">不阻止冒泡和捕获</div>
                </div>
            </div>

            <!-- capture 允许事件捕获 添加该修饰符后，表明该事件为捕获事件-->
            <div class="box1" @click.capture="consoleYes()">
                <span>yes</span>
                <div class="box2" @click.capture="consoleHello()">hello
                    <div class="box3" @click.capture="consoleHi()">hi</div>
                </div>
            </div>
            <!--默认注册的事件为冒泡事件-->
            <div style="margin-top: 50px;" @click="consoleYes()">
                yes
                <div @click="consoleHello()">
                    hello
                    <div @click="consoleHi()">hi</div>
                </div>
            </div>

            <!--self 只会触发event.target的事件-->
            <!--当所在的dom结构所绑定的事件都为self时，才会生效-->
            <div style="margin-top: 50px;" @click.self="consoleYes()">
                yes
                <div @click.self="consoleHello()">
                    hello
                </div>
            </div>
            <div style="padding-top: 20px;" @click.capture.self="consoleYes()">
                yes
                <div @click.capture.self="consoleHello()">
                    hello
                </div>
            </div>

            <!--once 事件只会触发一次-->
            <div style="margin-top: 50px;" @click.once="consoleHello()">hello</div>
        </div>

        <!--按键修饰符-->
        <div>
            <input type="text" v-on:keyup.enter="getInputContent()" v-model="textInput">

            <input type="text" v-on:keyup.page-down="getInputContent()"  v-model="textInput">

            <input type="text" v-on:keyup.delete="getInputContent()"v-model="textInput">
        </div>

        <!--系统修饰键-->
        <!--只有在按下系统修饰键的情况下，释放其他键才会触发事件-->
        <div>
            <!--ctrl + enter-->
            <input text="text" v-on:keyup.ctrl.enter="printInputContent()" v-model="textContent"></input>
            <!--alt + 鼠标左键-->
            <div class="btn" @click.alt="mouseClick()">鼠标左击</div>
        </div>

        <!--exact 修饰符-->
        <!--精确控制由系统修饰符组合出发事件-->
        <div>
            <div class="btn" style="background-color: yellow;" @click.alt="onClick()">单击按钮</div>
            <div class="btn" style="background-color: grey;" @click.alt.exact="onClickAlt()">单击按钮</div>
            <div class="btn" style="background-color: red;" @click.exact="onClickExact()">单击按钮</div>
        </div>

        <!--鼠标按钮修饰符-->
        <div>
            <div class="btn" @click.exact.middle="onClickMiddle()">鼠标中击</div>
            <div class="btn" @click.exact.right="onClickRight()">鼠标右击</div>
        </div>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: '#eventHandle',
        data: {
            greetName: 'greet',
            textInput: '',
            textContent: ''
        },
        methods: {
            greet: function(event){
                console.log(this.greetName);
                console.log(event.target);
            },
            say: function (word, event) {
                console.log(word, event.target);
            },
            eat: function (event, food) {
                console.log(event.target, food);
            },
            inputKeypress: function (event) {
                console.log(event.target);
            },
            consoleNo: function () {
                console.log('no');
            },
            consoleYes: function () {
                console.log('Yes');
            },
            consoleHello: function () {
                console.log('hello');
            },
            consoleHi: function () {
                console.log('hi');
            },
            getInputContent: function () {
                console.log(this.textInput);
            },
            printInputContent: function () {
                console.log(this.textContent);
            },
            mouseClick: function () {
                this.textContent += ' alt 加 鼠标左击'
                console.log(this.textContent);
            },
            onClick: function () {
                console.log('按下alt键的同时，按下shift或者ctrl键也会触发事件');
            },
            onClickAlt: function () {
                console.log('只有按下Alt键的同时，单击按钮才会触发事件');
            },
            onClickExact: function () {
                console.log('没有任何系统修饰按键的情况下，单击按键才会触发事件');
            },
            onClickMiddle: function () {
                console.log('鼠标中击');
            },
            onClickRight: function () {
                console.log('鼠标右击');
            }
        }
    });
</script>