<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list-render</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <style>
        ul {
            list-style: none;
        }
        .attention {
            font-size: 24px;
            line-height: 40px;
            color: orange;
            font-weight: 600;
        }
    </style>
</head>
<body>

    <!--v-for 属性基本使用情况-->
    <div id="example">
        <!--遍历数组-->
        <!--默认情况下 数据发生变化(尤其排序)时,v-for执行'就地更新'策略,更新每个元素,而不是移动DOM来重新排序-->
        <ul>
            <li v-for="item in items">{{item.message}}</li>
        </ul>
        <ul>
            <li v-for="(item, index) in items">
                {{parentMessage}} - {{index}} - {{item.message}}
            </li>
        </ul>
        <ul>
            <li v-for="item of items">
                {{item.message}}
            </li>
        </ul>
        <!--遍历对象-->
        <ul>
            <li v-for="value in object">
                {{value}}
            </li>
            <li v-for="(value, name) in object">
                {{value}} - {{name}}
            </li>
            <li v-for="(value, name, index) in object">
                {{value}} - {{name}} - {{index}}
            </li>
        </ul>

        <!--使用key 为每项提供唯一标识。属性值为简单数据类型 目的：方便重用/重新排序现有元素-->
        <ul>
            <li v-for="item in itemsRight" v-bind:key="item.id">
                {{item.message}}
            </li>
        </ul>
        <button @click="editItemsRight()">修改数组项</button>

        <ul>
            <li v-for="(value, name, index) in objRight">
                {{value}} - {{name}} - {{index}}
            </li>
        </ul>
        <button @click="editObjRight()">对象属性的添加/删除</button>
    </div>

    <!--v-for 数组更新检测-->
    <div id="arrayChange">
        <!--可引起视图更新的方法  vue对这些方法进行了变异-->
        <div v-for="(item, index) in numArr" v-bind:key="item" @click="editItem(index)">{{item}}</div>
        <button @click="pushNum()">push数据</button>
        <button @click="unshiftNum()">unshift数据</button>
        <button @click="sortNum()">排序数组</button>
        <button @click="reverseNum()">反转数组</button>

        <!--非变异方法, 通过重新赋值来引起视图更新-->
        <div>
            <button @click="sliceArr()">截取数组</button>
        </div>
        
        <!--数组修改某项数据/修改数组长度-->
        <div>
            <!--<button @click="editItem">修改某项数据</button>-->
            <button @click="editLength()">修改长度</button>
        </div>
    </div>

    <!--修改对象-->
    <div id="objectChange">
        <div v-for="(value, name, index) in changeObj">{{value}} - {{name}} - {{index}}</div>
        <button @click="addSingleProperty()">添加单个属性</button>
        <button @click="addMutiProperty()">添加多个属性</button>
    </div>

    <!--显示过滤/排序后数组，不改变原数组/重复整数/v-for、v-if一起使用-->
    <div id="filterOrSort">
        <span>数组排序：</span>
        <div v-for="num in sortNumbers">{{num}}</div>

        <span>数组过滤：</span>
        <div v-for="num in filterNumbers(numbers)">{{num}}</div>

        <span>重复整数</span>
        <div v-for="num in 10">{{num}}</div>

        <span>v-for、v-if仪器使用</span>
        <div v-if="todos.length">
            <div v-for="item in todos">{{item.message}}</div>
        </div>
        <div v-else>no todo</div>
    </div>
    <div class="attention">模板使用/组件使用 尚未练习</div>

</body>
</html>
<script>
    var vm = new Vue({
        el: '#example',
        data: {
            items: [
                {message: "foo"},
                {message: "bar"}
            ],
            parentMessage: "parentMessage",
            object: {
                title: 'hhhhhh',
                author: 'Hector',
                content: 'i do not know'
            },
            itemsRight: [
                {message: 'djkfdf', id: 'df'},
                {message: 'dfdfdfddfdf',id: 'ere'}
            ],
            objRight: {
                uername: 'lord yang',
                age: '27',
                favorite: 'sleep'
            }
        },
        methods: {
            // 数据替换
            editItemsRight: function(){
                vm.$set(vm.itemsRight, 0, {message: '哈哈哈哈', id: 'jkjk'});
                vm.itemsRight.splice(1,1,{message: '吼吼吼', id: 'dddd'})
            },

            //
            editObjRight: function () {
                vm.$set(vm.objRight, 'sex', 'man');
                vm.objRight = Object.assign({}, vm.objRight, {
                    height: '165cm',
                    weight: '60kg'
                })
            }
        },
        computed: {

        }
    });

    var arrChange = new Vue({
        el: '#arrayChange',
        data: {
            numArr: [2,3,1,6,4,5]
        },
        methods: {
            pushNum: function () {
                var maxNum = 0;
                arrChange.numArr.forEach(function (item) {
//                    console.log((item));
                    if(item > maxNum) {
                        maxNum = item;
                    }
                })
                arrChange.numArr.push(maxNum + 1);
            },
            unshiftNum: function () {
                var minNum = 1;
                arrChange.numArr.forEach(function (item) {
//                    console.log((item));
                    if(item < minNum) {
                        minNum = item;
                    }
                })
                arrChange.numArr.unshift(minNum - 1);
            },
            sortNum: function () {
                arrChange.numArr.sort(function (a, b) {
                    return a >= b? 1: -1;
                })
            },
            reverseNum: function () {
                arrChange.numArr.reverse();
            },
            sliceArr: function () {
                arrChange.numArr = arrChange.numArr.slice(0, 3);
            },
            editItem: function (index) {
                vm.$set(arrChange.numArr, index, arrChange.numArr[index] + 10 );
            },
            editLength: function () {
                arrChange.numArr.splice(4);
            }
        }
    });

    var objChange = new Vue({
        el: '#objectChange',
        data: {
            changeObj: {
                name: 'Lord Yang',
                age: '25'
            }
        },
        methods: {
            addSingleProperty: function () {
                objChange.$set(objChange.changeObj,'address', 'beijing');
            },
            addMutiProperty: function(){
                objChange.changeObj = Object.assign({}, objChange.changeObj, {
                    color: 'white',
                    food: 'fruit'
                });
            }
        },


    });

    var filterOrSort = new Vue({
        el: '#filterOrSort',
        data: {
            numbers: [3,2,6,7,5,1],
            todos: [{message: 'shopping'}, {message: 'sleeping'}]
        },
        computed: {
            sortNumbers: function(){
                return this.numbers.sort(function(a,b){
                    return a>=b?1: -1;
                })
            }
        },
        methods: {
            filterNumbers: function(numbers){
                return numbers.filter(function (number) {
                    return number % 2 === 0;
                })
            }
        }
    });
</script>